<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Hakkımızda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Ana Sayfa</a> |
        <a href="/muze">Müzeler</a> |
        <a href="/hakkimizda">Hakkımızda</a>
    </nav>
    <h1>Hakkımızda</h1>
    <p>Bu site, kuruluş tarihi çok yeni bir site olup kültürel zenginlikleri çevrimiçi gezmek isteyenler için hazırlanmıştır.Sitemizde her hafta yeni bir müzeyi online olarak gezme fırsatı yakalabilmektesiniz.</p>
    <p>Sitemize dair yeni ,özgün fikirlerde bulunmak ,yorumlarınızı beyan etmek ve güncel paylaşımları anında görmek için aşağıda belirtmiş olduğumuz sosyal medya adresimizi takip edin!</p>
    <p>Mail adresimiz: museoNet@gmail.com</p>
    <p>İnstagram adresimiz: @museoNet</p>
</body>
</html>